@model PortalEquador.Domain.Models.DriversLicence.DriversLicenceCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Carta de condução</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GroupItemId" class="control-label"></label>
                <select asp-for="GroupItemId" class="form-select" asp-items="Model.LicenceTypes"></select>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input id="expirationDate" asp-for="ExpirationDate" class="form-control" />
            </div>

            <br />
            <div class="form-check">
                <input asp-for="ExpirationDateAvailable" class="form-check-input" type="checkbox" onclick="noExpirationDate()" />
                <label asp-for="ExpirationDateAvailable" class="form-check-label">Data Indisponível</label>
            </div>

            <br />
            <div class="form-group">
                <input asp-for="ImageFile" accept="image/*" onchange="preview()" class="form-control" type="file" />
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <label for="Image" class="form-label">Pré-visualização</label>
        <br />
        <img id="frame" src="" class="img-fluid" />
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
            //document.getElementById('prevname').classList.add("hidden")
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
        function noExpirationDate() {
            var elem = document.getElementById('expirationDate');
            elem.disabled = !elem.disabled;
            elem.value = '';
        }
    </script>
}

