@model PortalEquador.Domain.DriversLicence.ViewModels.DriversLicenceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar lingua</h1>
<h3>@Html.DisplayNameFor(model => model.Licence):  @Html.DisplayFor(model => model.Licence.Description)</h3>
<hr />
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />


            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input id="expirationDate" asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>

            <br />


            <div class="form-group">
                <input asp-for="ImageFile" accept="image/*" onchange="preview()" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>


            <br />
            @if (Model.Error != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span asp-validation-for="Error"></span>
                    </div>
                </div>
                <br />
            }

            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" asp-route-identifier="@Model.PersonaInformationId" asp-route-fullName="@Model.FullName" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Criar registo" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div class="col-md-8">
    <label for="Image" class="form-label">Pré-visualização</label>
    <br />
    <img id="frame" src="" class="img-fluid" />
</div>

</div>

@section Scripts {
    <script>
        window.onload = function () {
            var checked = document.getElementById('expirationDateAvailable').checked;
            var elem = document.getElementById('expirationDate');
            elem.disabled = checked;
        };
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
        function noExpirationDate() {
            var elem = document.getElementById('expirationDate');
            elem.disabled = !elem.disabled;
            elem.value = '';
        }
    </script>
}