@model PortalEquador.Domain.Education.School.ViewModels.SchoolViewModel

@{
    ViewData["Title"] = "Create";
}

<br />
<h1>Criar Novo Registo</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />

            <div class="form-group">
                <label asp-for="InstitutionId" class="control-label"></label>
                <select asp-for="InstitutionId" class="form-select" asp-items="Model.Institutions"></select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="MajorId" class="control-label"></label>
                <select asp-for="MajorId" class="form-select" asp-items="Model.Majors"></select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-select" asp-items="Model.Degrees"></select>
            </div>
            <br />

            @if (Model.Error != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span asp-validation-for="Error"></span>
                    </div>
                </div>
            }
            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" asp-route-identifier="@Model.PersonaInformationId" asp-route-fullName="@Model.FullName" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Criar registo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

