@model IEnumerable<PortalEquador.Models.Documents.DocumentDetailViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
<thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr class="align-middle">
            <td  width="100">
                    <img src="@(item.FilePath)" asp-append-version="true" class="img-thumbnail rounded-circle" width="88" height="88" />

            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FileName)
            </td>

            <td>
               
                    <a asp-action="Create" asp-route-CurriculumId="@item.CurriculumId">Create New</a>
               
            </td>
        </tr>
    }

</tbody>
</table>

