@model IEnumerable<PortalEquador.Models.CurriculumVitae.DocumentsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="align-middle" width="100">
                    <img src="images/1/10.jpg" class="img-thumbnail rounded-circle" width="80" height="80">
            </td>
                <td class ="align-middle">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

                <td class ="align-middle">
                    @if (item.NumberOfDocuments > 0)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    }
                    else{
                        <a asp-action="Create" asp-route-CurriculumId="@item.CurriculumId">Create New</a>
                    }
            </td>
        </tr>
}

    </tbody>
            
</table>
