@model PortalEquador.Domain.Scheduler.MechanicalWorkshop.ViewModels.scheduler.MechanicalWorkshopDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<!---->
<h1>Oficina</h1>

<div>
    <h4></h4>
    <hr />


    <div class="row">

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.workshopmate.com.au/media/4500/8-tips-for-running-a-successful-workshop-wsm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Oficina</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="MechanicalWorkshopScheduler" asp-action="Index" class="btn btn-primary">Agendamentos</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://autofile.co.nz/uploads/pictures/2024/01/thumb1920/AUTOFILE_sales-boom-in-japan_2024-01-07_17-59-371.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestão de viaturas</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="MechanicalWorkshopVehicle" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

        </div>

    </div>

    <br />


</div>

