﻿@using PortalEquador.Util
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">

    <h1 class="display-4">Portal</h1>
    <br />
    <br />
    <div class="row">

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Curriculos</h3>
                        <p class="card-text">Gestão de CVs e dados pessoais</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a asp-controller="Curriculum" asp-action="Index" class="btn btn-primary">Gerir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Oficina</h3>
                        <p class="card-text">Gestão de viaturas e agendamentos para intervenções mecânicas</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a asp-controller="MechanicalWorkshop" asp-action="Index" class="btn btn-primary">Gerir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Documentos</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Documents" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        -->
    </div>

    <br />
    <br />

    @if (User.IsInRole(Roles.Administrator))
    {

        <h1 class="display-4">Gestão</h1>
        <br />
        <br />

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Grupos e tipos</h5>
                        <p class="card-text">Gestão de  grupos e caracterização de descrições</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a asp-controller="Group" asp-action="Index" class="btn btn-primary">Gerir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Administradores</h5>
                        <p class="card-text">Gestão de contas de utilizadores da app</p>
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Gerir contas</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

