@model PortalEquador.Domain.Profession.Experience.ViewModels.ProfessionalExperienceViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Experiência  profissional</h1>
<h4>Para: @ViewData["username"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-select" asp-items="Model.Companies"></select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="WorkstationId" class="control-label"></label>
                <select asp-for="WorkstationId" class="form-select" asp-items="Model.Workstations"></select>
            </div>
            <br />

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Years" class="control-label"></label>
                    <input asp-for="Years" class="form-control" type="number" min="0" value="0" />
                    <span asp-validation-for="Years" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Months" class="control-label"></label>
                    <input asp-for="Months" class="form-control" type="number" min="0" max="11" value="1" />
                    <span asp-validation-for="Months" class="text-danger"></span>
                </div>
            </div>
            <br />


            @if (Model.Error != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span asp-validation-for="Error"></span>
                    </div>
                </div>
                <br />
            }

            <br />
            <div class="form-group">
                <a asp-action="Index" asp-route-identifier="@Model.PersonaInformationId" asp-route-fullName="@Model.FullName" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Criar registo" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>