@model PortalEquador.Domain.ProfessionalExperience.ViewModels.ProfessionalExperienceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Experiência  profissional</h1>
<h4>Para: @ViewData["username"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="WorkstationId" />


            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="Model.Companies" disabled></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="WorkstationId" class="control-label"></label>
                <select asp-for="WorkstationId" class="form-control" asp-items="Model.Workstations" disabled></select>
                <span asp-validation-for="WorkstationId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Years" class="control-label"></label>
                <input asp-for="Years" class="form-control" type="number" min="0" />
                <span asp-validation-for="Years" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Months" class="control-label"></label>
                <input asp-for="Months" class="form-control" type="number"  min="0" max="11" />
                <span asp-validation-for="Months" class="text-danger"></span>
            </div>


            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" asp-route-identifier="@Model.PersonaInformationId" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Editar registo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


