@model PortalEquador.Data.GroupTypes.GroupItem

@{
    ViewData["Title"] = "Details";
}

<h1>Dashboard</h1>

<div>
    <h4>GroupItem</h4>
    <hr />


    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carta de condução</h5>
                    <p class="card-text">Formulário para o registo dos dados da carta de condução.</p>
                    <a asp-controller="DriversLicence" asp-route-CurriculumId="1"  asp-action="Create" class="btn btn-primary">Criar registo</a>
                </div>
            </div>
        </div>


    </div>






</div>

